/* CSS for desktop view */
.menu {
  float: right;
  margin-top: 20px;
  list-style-type: none;
}

.menu li {
  display: inline-block;
  padding-right: 10px;
}

.username {
  color: black;
  font-weight: 400;
  font-size: 16px;
  padding-right: 30px;
}


@media (max-width: 768px) {
  .username {
    display: none; 
  }
  .hamburger-icon {
    display: inline-block; 
  }
}
@media only screen and (min-width: 769px) {
  #hamburger {
    display: none;
  }
}

.sidebar {
  width: 250px;
  position: fixed;
  top: 0;
  left: -250px;
  height: 100%;
  background-color: #fff;
  transition: left 0.3s ease-in-out;
  z-index: 1000;
}

.sidebar.active {
  left: 0px;
  background-color: #1F223B;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar li {
  margin: 10px 0;
  padding: 0 20px;
}

.sidebar a {
  color: #fff;
  text-decoration: none;
}


