<div class="row offset-lg-1">
  <div class="col">
    <div
      style="
        position: absolute;
        width: 686px;
        height: 402px;
        top:30vh;
        margin-left:20%;
      "
    >
      <div
        class="card"
        style="
          width: 100%;
          height: 100%;
          padding: 67px 133px 66px 135px;
          border-radius: 12px;
          border: 1px solid;
          border-style: dashed;
        "
      >
        <div class="card-body">
          <div class="text-center">
            <img src="../../../assets/upload.svg" alt="" />
          </div>
          <h5
            class="card-title">
            Drag and drop here
          </h5>
          <div class="centered-line">
            <span class="centered-text"></span>
            <span class="centered-text">or</span>
            <span class="centered-text"></span>
        </div>
          <p class="card-text text-center">
            Browse files
          </p>
          <div class="text-center">

            <button class="custom-button text-center">
            upload
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
