<div class="center-div">
    <div class="financial-planners-upload-do mx-auto">
        <div class="rectangle-div"></div>
        <div class="container">
          <div class="upload-parent">
            
            <div class="upload">
              <div class="browse-files">Browse files</div>
              <b class="drag-and-drop">Drag and drop here</b>
              <img class="icon" alt="" src="../../../assets/upload.svg" />
            </div>
            <div class="buttons">
              <div class="record-a-video">
                <div class="upload1">Upload</div>
              </div>
            </div>
            <div class="or">
              <div class="or1">or</div>
              <div class="or-child"></div>
              <div class="or-item"></div>
            </div>
          </div>
        </div>
        <div class="upload-documents">Upload documents</div>
      </div>
</div>