.centered-line {
    text-align: center;
    position: relative;
    margin: 20px 0;
}

.centered-line::before,
.centered-line::after {
    content: "";
    position: absolute;
    top: 50%;
    width: 45%;
    height: 1px;
    background-color: #999;
}

.centered-line::before {
    left: 0;
}

.centered-line::after {
    right: 0;
}

.centered-text {
    position: relative;
    z-index: 1;
    background-color: white;
    padding: 0 10px;
}
.card-title{
    height: 32px;
    top: 145px;
    left: 180px;
    font-family: 'Sofia Pro Soft', sans-serif;
    font-size: 36px;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: 0px;
    text-align: center;
    margin-top: 18px;
}

.card-text{
   
    font-family: 'Sofia Pro Soft', sans-serif;
    font-size: 26px;
    font-weight: 400;
}
.custom-button {
    width: 203px;
    height: 48px;
   
   
    border-radius: 30px;
    background-color: #F35564;
    border: none;
    color: #fff;
    font-weight: 400;
    font-size: 20px;
}

.custom-button:hover {
    background-color: #FF6B7D;
    cursor: pointer;
}