<div class="d-flex flex-column">
    <app-header></app-header>
    <hr>
    <div class="d-flex flex-row align-items-center justify-content-center" style="background-color:#F3FBFF;height: 876px;">
        <div class="flex-column">
            <h1>Manage Clients Effortlessly</h1>
            <p class="mt-5">As a financial Planner, Family Central - Financial Planner allows you to manage clients with
                ease. Send
                and
                manage client information. Your clients can now receive documents securely through Family Central.</p>
            <button type="button">Get Started</button>
        </div>
        <div class="py-5">
            <img src="assets\Frame.svg" alt="Frame">
        </div>
    </div>



    <div style="background-color: #F96E5B;height: 601px;color: #fff;" class="d-flex flex-column justify-content-center">
        <div class="d-flex justify-content-center">
            <h1 style="text-align: center;">How it Works?</h1>
        </div>
        <div class="d-flex flex-row justify-content-evenly">
            <div style="text-align: center;">
                <img src="assets\Group (5).svg">
                <p style="width: 215px;height: 70px;" class="py-5">Create a client centric family office</p>
            </div>
            <div style="text-align: center;">
                <img src="assets\Group 12.svg">
                <p style="width: 274px;height: 70px;" class="py-5">Load the information per client</p>
            </div>
            <div style="text-align: center;">
                <img src="assets\Group 2.svg">
                <p style="width: 274px;height: 70px;" class="py-5">Segregate the information and create shared folders</p>
            </div>
            <div style="text-align: center;">
                <img src="assets\E_-_575_Mail_message.svg">
                <p style="width: 274px;height: 70px;" class="py-5">Send our Tutorials and set up a series of lessons</p>
            </div>
        </div>
    </div>
    <div style="background-color: red;">3</div>
    <div style="background-color: green;">4</div>
    <div style="background-color: blue;">5</div>
</div>