<div class="body-container-2">
  <div class="body-container-2-header">
    <h1>Add Customer</h1>
  </div>
  <div class="body-container-2-formblock">
    <div class="form-item">
      <input type="text" id="firstName" placeholder="First name" (blur)="validateFirstName()">
      <div *ngIf="firstNameError" class="error-message">{{ firstNameError }}</div>
    </div>
    <div class="form-item">
      <input type="text" id="lastName" placeholder="Last name" (blur)="validateLastName()">
      <div *ngIf="lastNameError" class="error-message">{{ lastNameError }}</div>
    </div>
    <div class="form-item">
      <input type="text" id="phoneNumber" placeholder="Phone Number" (blur)="validatePhoneNumber()">
      <div *ngIf="phoneNumberError" class="error-message">{{ phoneNumberError }}</div>
    </div>
    <div class="form-item">
      <input type="text" id="email" placeholder="Email" (blur)="validateEmail()">
      <div *ngIf="emailError" class="error-message">{{ emailError }}</div>
    </div>
    <div class="form-item form-item-5">
      <textarea id="message" rows="5" cols="160" placeholder="Message"></textarea>
    </div>
  </div>
  <div class="upload-Document">
    <!-- <p><span><a href="#" target="_self" style="color:rgba(6, 184, 255, 1);">Upload Document if any...</a></span>(
      optional )</p> -->
      <label for="selectFile" class="custom-file-upload" style="text-align: center;" >
        Upload Document if any...
      </label>
      <input type="file" id="selectFile" #selectFile style="display:none;" (change)="onFileSelected($event)">

  </div>
  <div class="save">
    <button type="button" class="save-button" (click)="uploadFile()" routerLink="/listofcustomers">Save</button>
    <button type="button" class="Cancel-button" routerLink="/listofcustomers">Cancel</button>
  </div>
</div>
