

<body>

    <div class="container1">
     
      <div class="sub-container22">
        <div class="container221">
          <div class="top-container">
            <h1>Add Customer</h1>
          </div>
          <div class="bottom-container">
            <div class="form-container">
              <div class="form-item">
                <input type="text" id="input1" name="First name" placeholder="First name" required>
              </div>
              <div class="form-item">
                <input type="text" id="input2" name="input2" placeholder="Last name" required>
              </div>
              <div class="form-item">
                <input type="text" id="input3" name="input3" placeholder="Phone Number" required>
              </div>
              <div class="form-item">
                <input type="text" id="input4" name="input4" placeholder="Email" required>
              </div>
              <div class="form-item form-item-5">
                <textarea id="input5" name="Message" rows="10" cols="160" placeholder="Message"></textarea>
              </div>
            </div>
  
          </div>
          <div>
            <p><span><a href="#" target="_self" style="color:rgba(6, 184, 255, 1);">Upload Document if any...</a></span>(
              optional )</p>
          </div>
          <div class="save">
            <button type="button" class="save-button">save</button>
            <button type="button" class="Cancle-button">Cancle</button>
          </div>
        </div>
      </div>
    </div>
  </body>
  
  