<div class="body-container-2 ">
  <div class="body-container-2-header">
    <h1>Add Customer</h1>
  </div>
  <div class="body-container-2-formblock">
    <div class="form-item">
      <input
        type="text"
        id="input1"
        name="First name"
        placeholder="First name"
      />
    </div>
    <div class="form-item">
      <input type="text" id="input2" name="input2" placeholder="Last name" />
    </div>
    <div class="form-item">
      <input type="text" id="input3" name="input3" placeholder="Phone Number" />
    </div>
    <div class="form-item">
      <input type="text" id="input4" name="input4" placeholder="Email" />
    </div>
    <div class="form-item form-item-5">
      <textarea
        id="input5"
        name="Message"
        rows="5"
        cols="160"
        placeholder="Message"
      ></textarea>
    </div>
    <div class="form-item form-item-5">
      <textarea
        id="input51"
        name="Message"
        rows="5"
        cols="50"
        placeholder="Message"
      ></textarea>
    </div>
  </div>
  <div class="upload-Document">
    <p>
      <span
        ><a href="#" target="_self" style="color: rgba(6, 184, 255, 1)"
          >Upload Document if any...</a
        ></span
      >( optional )
    </p>
  </div>
  <div class="save">
    <button type="button" class="save-button">save</button>
    <button type="button" class="Cancle-button">Cancle</button>
  </div>
</div>
