.profile{
    margin-left: 200px;
}
body h1 {
    color: #1F223B;
    float: left;
    
}
.city {
    background-color: white;
    color: #1F223B;
    width: 1097px;
    height: 60%;
    margin-top: 0%;
    margin-right:24%;
    padding: 20px;
    float: right;
  
  }


  .first{
    margin-top: 0%;
   list-style-type: none;
   color:darkgrey;   
   font-size:30px;
   

  }
  .first li {
    padding-bottom: 30px;
  }
  .first p {
    color: #1F223B;
    font-size: 25px;
  }
  .second {
    float:right;
    margin-top: auto;
    list-style-type: none;
    padding-right: 10%;

  }
  .second p {
    color: #1F223B;
    font-size: 25px;
  }

  div h1 {
    color: #1F223B;
    text-align:right;
    margin-right: 80%;
  }



  .custom-button {
    border-radius: 30px;
    background: #F35564;
    backdrop-filter: blur(7.5px);
    display: flex;
    width: 203px;
    height: 48px;
    padding: 12px 0px 9px 0px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    color: #fff; 
    text-decoration: none; 
    margin-top: 150px;
}

/* Add hover effect */
.custom-button:hover {
    background: #FF3B4A;
}


