<div class="rectangle-parent d-none d-md-block">  
  <div class="group-child"></div>
  <img class="logo-icon" alt="" src="./public/logo." />

  <img
    class="family-central-white-1-icon"
    alt=""
    src="../../../assets/familycentral.svg"
  />

  <div class="group-item"></div>
  <div class="profile" routerLink="/profile" routerLinkActive="active">
    <a class="nav-link active" routerLink="/profile" routerLinkActive="active">
      Profile
    </a>
  </div>
  <img class="group-icon3" alt="" src="../../../assets/profile.svg" />

  <div class="list-of-customers1">
    <a class="nav-link" routerLink="/listofcustomers" routerLinkActive="active">
      <span class="nav-text">List of Customers</span>
    </a>
  </div>
  <div class="settings">
    <a class="nav-link" routerLink="/settings" routerLinkActive="active">
      Settings
    </a>
  </div>
  <div class="help">
    <a class="nav-link" routerLink="/help" routerLinkActive="active"> Help </a>
  </div>
  <div class="logout">
    <a class="nav-link" routerLink="/logout" routerLinkActive="active">
      Logout
    </a>
  </div>
  <div class="update-documents">
    <a class="nav-link" routerLink="/updatedocuments" routerLinkActive="active">
      Update documents
    </a>
  </div>
  <img class="group-inner" alt="" src="../../../assets/listofcustomers.svg" />

  <img class="group-child1" alt="" src="../../../assets/updatedocuments.svg" />

  <img class="group-child2" alt="" src="../../../assets/help.svg" />

  <img class="group-child3" alt="" src="../../../assets/settings.svg" />

  <img class="group-icon4" alt="" src="../../../assets/logout.svg" />
  
</div>  
  
