@media only screen and (min-width:1200px) and (min-width:1400px) {
    .ml {
        margin-left:10%;
    }
}

@media only screen and (min-width:1401px) {
    .ml {
        margin-left:5%;
    }
}

.custom-button {
    border-radius: 30px;
    background: #F35564;
    backdrop-filter: blur(7.5px);
    display: flex;

    width: 203px;
    height:48px;
    padding: 12px 0px 9px 0px;
    justify-content: center;
    align-items: center;
    color: #fff; 
    text-decoration: none;   
    margin-top: 40px;
    font-size: 25px;
}

.modal{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent overlay */
    display: none;
    z-index: 999; /* Make sure the modal appears on top */
    /* Add any other styles for your modal container */
  }

  .box {
    border-radius:5px;
    margin-bottom: 10px;
  }